<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title><%= name %></title>
</head>
<body>
    <h1>Welcome to the subreddit of <%= name %></h1>
    <h2><%= description %></h2>
    <p>Has total subscribers of <%=subscribers%></p>
    <hr>
    <div> 
        <%for(let post of posts){%>
            <h3><%= post.title %> from the author <%=post.author %></h3>
         <%   if(post.img){%>
                <img src="<%= post.img %>" alt="">
         <%   }%>
        <%}%>
    </div>
</body>
</html>